.add-blog-form{
    display: grid;
    grid-template-columns: repeat(auto-fill, 100%);
    justify-content: space-between;
    place-items: center;
    grid-gap: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
}

select{
    height: 50px;
    border-color: #722f37;
    border-radius: 5px;
}

select:focus{
    outline: none;
    border-color: #722f37;
    box-shadow: 0 0 0 0.25rem rgba(114, 47, 55, 0.40);
}

.container{
    width: 75%
}

/* .box{
    border: solid;
    width: 100%;
} */

trix-editor{
    width: 100%;
    border-radius: 5px;
    border-width: 1px;
    background-color: white;
    border-color: #722f37;
}

trix-editor:focus{
    box-shadow: 0 0 0 0.25rem rgba(114, 47, 55, 0.40);
}

.no-border{
    border: 0;
    box-shadow: none;
}

.form-control{
    border-color: #722f37;
}

.form-control:focus{
    border-color: #722f37;
    box-shadow: 0 0 0 0.25rem rgba(114, 47, 55, 0.40);
}