/* .search-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, 100%);
  justify-content: space-between;
  place-items: center;
  grid-gap: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
} */

.default{
  display: block;
  padding-left: 200px;
  padding-right: 200px;
}

.active{
  display: block;
  padding-left: 200px;
  padding-right: 200px;
}

.search{
  width: 300px;
  height: 30px;
  font-size: 14pt;
  color:white;
  text-align: center;
  margin: auto;
  /* padding-top: 30px; */
  margin-bottom: 30px;
}

.bg-antiquewhite{
  background-color: antiquewhite;
}

.big{
  height: 60px;
}

.search-results{
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 10px;
  row-gap: 50px;
  background-color: #44a2ff;
  padding: 10px;
  padding-top: 50px;
  margin: auto;
}

.search-bar{
  display: grid;
  grid-template-columns: 70% 26%;
}

.no-books{
  width: 70%;
  height: 450px;
}

.text-white{
  color: white;
}

input{
  box-sizing: border-box;
}

input[type="text"] {
  font-size: 14pt;
  height: 30px;
  width: 100%;
}

@media only screen and (max-width: 700px) {

  .default{
    display: block;
    margin: auto;
  }
  
  .active{
    display: block;
    margin: auto;
  }

  .search-bar{
    display: grid;
    grid-template-columns: 70% 26%;
    grid-template-rows: 50px;
  }

  .search-results{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    row-gap: 50px;
    background-color: #44a2ff;
    padding: 10px;
    padding-top: 50px;
    margin: auto;
  }

  button[type="submit"] {
    font-size: 14pt;
    height: 100%;
    width: 100%;
  }

  input[type="text"] {
    font-size: 14pt;
    height: 100%;
    width: 100%;
  }
}

@media only screen and (max-width: 450px){
  .search-results{
    display: grid;
    grid-template-columns: auto;
    row-gap: 50px;
    background-color: #44a2ff;
    padding: 10px;
    padding-top: 50px;
    margin: auto;
  }
} 