.default{
  display: block;
  padding-left: 200px;
  padding-right: 200px;
}

.active{
  display: block;
  padding-left: 200px;
  padding-right: 200px;
}

.search{
  width: 300px;
  height: 30px;
  font-size: 14pt;
  color:white;
  text-align: center;
  margin: auto;
}

.bg-antiquewhite{
  background-color: antiquewhite;
}

.search-results{
  grid-template-columns: auto auto auto;
}

.search-bar{
  display: grid;
  grid-template-columns: 70% 26%;
}

.no-books{
  width: 70%;
  height: 450px;
}

.text-white{
  color: white;
}

input{
  box-sizing: border-box;
}

input[type="text"] {
  font-size: 14pt;
  height: 30px;
  width: 100%;
}

@media only screen and (max-width: 700px) {

  .default{
    display: block;
    margin: auto;
  }
  
  .active{
    display: block;
    margin: auto;
  }

  .search-bar{
    display: grid;
    grid-template-columns: 70% 26%;
    grid-template-rows: 50px;
  }

  button[type="submit"] {
    font-size: 14pt;
    height: 100%;
    width: 100%;
  }

  input[type="text"] {
    font-size: 14pt;
    height: 100%;
    width: 100%;
  }
}