.default{
  display: block;
  padding-left: 200px;
  padding-right: 200px;
}

.active{
  display: block;
  padding-left: 200px;
  padding-right: 200px;
}

.search-container{
  position: absolute;
  display: grid;
  grid-template-rows: auto auto;
  background-color: antiquewhite;
  width: 75%;
  min-height: 75%;
  max-height: fit-content;
  padding-left: 200px;
  padding-right: 200px;
  z-index: 1;
}

.search-bar{
  display: grid;
  grid-template-columns: 75% 25%;
}

.text-white{
  color: white;
}

input{
  box-sizing: border-box;
}

input[type="text"] {
  font-size: 14pt;
  height: 30px;
  width: 100%;
}

@media only screen and (max-width: 620px) {

  .default{
    display: block;
    margin: auto;
  }
  
  .active{
    display: block;
    margin: auto;
  }
}