.default{
  display: block;
  margin-left: 200px;
  margin-right: 200px;
}

.active{
  display: block;
  margin-left: 200px;
  margin-right: 200px;
}

.text-white{
  color: white;
}
.search-bar{
  display: grid;
  grid-template-columns: 75% 25%;
}

.search-box{
  display: block;
  position: absolute;
  z-index: 1;
  width: 500px;
  height: 75%;
  margin-left: 200px;
  background-color: rgb(90, 90, 90);
  opacity: 0.8;
  overflow: auto;
  overflow-x: hidden;
}

input{
  box-sizing: border-box;
}

input[type="text"] {
  font-size: 14pt;
  height: 30px;
  width: 100%;
}

@media only screen and (max-width: 620px) {

  .default{
    display: block;
    margin: auto;
  }
  
  .active{
    display: block;
    margin: auto;
  }

  .search-box{
    display: block;
    position: absolute;
    z-index: 1;
    background-color: rgb(90, 90, 90);
    width: 100vw;
    margin: auto;
    overflow: auto;
    overflow-x: hidden;
  }
}