.book-container{
  display: inline-block;
  position: relative;
  width: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
} 

.book-cover{
  display: inline-block;
  position: relative;
  width: 140px;
  margin: auto;
}

.center-all{
  text-align: center;
  justify-content: center;
  align-content: center;
}

.title-no-cover{
  display: grid;
  /* border: solid;
  border-color: pink; */
  margin: auto;
  height: 209px;
}

.title{
  display: grid;
  /* border: solid;
  border-color: pink; */
  margin: auto;
}

.overflow-title{
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.hidden{
  display: none;
}

.tool-tips{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 100%);
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px; 
}