/* .add-book{
    margin-top: 20px;
    margin-bottom: 20px;
} */

.add-book{
    display: grid;
    grid-template-columns: repeat(auto-fill, 100%);
    justify-content: space-between;
    place-items: center;
    grid-gap: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.add-book-menu{
    display: grid;
    margin: auto;
    width: 50%;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.arrow{
    width: 30px;
}

@media only screen and (max-width: 700px) {
    .add-book-menu{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-gap: 10px;
        padding-top: 10px;
        padding-bottom: 30px;
        /* place-items: center; */
    }

    .arrow{
        width: 50px;
        font-size: 15pt;
    }
}