html {
    scroll-behavior: smooth;
    scroll-padding: 1rem;
}

div{
    user-select: none;
}

.text-center{
    text-align: center;
}

.w-30-px{
    width: 30px;
}

.w-25{
    width: 25%;
}

.w-50{
    width: 50%;
}

.invisible{
    visibility: hidden;
}

.rounded{
    border-radius: 2px;
}

.btn-sm{
    display: flex;
    height: 35px;
    justify-content: center;
    align-items: center;
}

.overflow-title{
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.center{
    margin: auto;
}

.bg-wine{
    background-color: #722f37;
}

.bg-latte{
    background-color: #ccae88;
}

.bg-blue{
    background-color: #0061c2cc;
}

.bg-white{
    background-color: white;
}

.text-white{
    color: white;
}

img{
    margin: auto;
}

.pointer {
    cursor: pointer;
}

.text-black{
    color: black;
}

.text-dark{
    color: #323232e5;
}

.text-green{
    color: #1a4f01e5;
}

.border-latte{
    border-color: white;
}
.border-gold {
    border: solid;
    border-color: rgb(180, 153, 0);
}

.border-round{
    border-radius: 3px;
}

.border-white{
    border: solid;
    border-color: white;
}

.text-bold{
    font-weight: bold;
}

.text-xlarge{
    font-size: x-large;
}

.text-xxxlarge{
    font-size: 32pt;
}

.padding-10px{
    padding-bottom: 10px;
}

.default-image{
    display: grid;
    margin: auto;
    align-items: center;
    text-align: center;
    height: 209px;
    width: 140px;
}

.shelf{
    display: grid;
} 


.menu{
    display: grid;
    grid-template-columns: 400px 200px 200px;
    column-gap: 5px;
    text-align: center;
    padding: 15px;
}

.flex-column{
    justify-content: center;
}

.name{
    display: grid;
    font-size: 32pt;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    padding-left: 15px;
    justify-content: start;
}

.shelf-buttons {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    padding: 15px;
    font-size: x-large;
}

.shelf-menu{
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 5px;
    text-align: center;
    margin: auto;
    padding: 15px;
}

/* BUTTONS START */

.button{
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.highlight{
    background-color: #6974a2a7;
}

@media (hover: hover) {
    button:hover{
    background-color: #6974a2a7;
    /* background-color: #722f37; */
    }
}

.btn-round-1{
    border-radius: 1px;
}

.btn-border-color-1{
    border-color: #1a4f01e5;
}

.btn-gold-dark{
    background-color: rgb(180, 153, 0);
}

.btn-sm:hover{
    background-color: white;
}

.btn-clicked{
    background-color: white;
    color: black;
}

.btn-sm-clicked{
    background-color: #3c831ba1;
    box-shadow: 0px 0px 5px 1px rgba(60,131,27,0.75);
}

/* BUTTONS END */

@media only screen and (max-width: 800px){
    .menu {
         display: grid;
        grid-template-columns: repeat(auto-fill, 100%);
        grid-auto-rows: 50px;
        justify-content: space-between;
        place-items: center;
        grid-gap: 20px;
        padding-top: 10px;
        padding-bottom: 30px;
    }
    /* .menu-item{
        font-size: 14pt;
        height: 50px; 
    } */
    

    .name{
        display: flex;
        padding-left: 0;
        padding: 25px;
        margin: auto;
    }
    .shelf-menu{
        display: grid;
        margin: auto;
        grid-template-rows: auto auto auto;
        row-gap: 10px;
    }
}

@media only screen and (max-width: 800px){
    .shelf-menu{
        display: grid;
        margin: auto;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        row-gap: 10px;
    }

}

@media only screen and (max-width: 620px) {

    .shelf-buttons {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 15px;
        font-size: large;
    }
    .menu {
        display: grid;
        grid-template-rows: auto 300px 300px;
        row-gap: 10px;
    }

    /* .menu-item{
        font-size: 20pt;
        height: 100px;
    } */

    /* .shelf{
        display: grid;
        grid-template-columns: auto;
    } */
    
    .shelf-menu{
        display: grid;
        margin: auto;
        grid-template-rows: auto auto auto;
        row-gap: 10px;
    }

    .button{
        display: flex;
        height: 50px;
        justify-content: center;
        align-items: center;
    }
    
}

/* @media only screen and (min-width: 620px) {

    .shelf-menu{
        display: grid;
        margin: auto;
        grid-template-rows: auto auto auto;
        row-gap: 10px;
    }
}

@media only screen and (min-width: 700px) {

    .shelf-menu{
        margin-top: 30px;
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 5px;
        text-align: center;
        margin: auto;
        padding: 15px;
    }
}

@media only screen and (min-width: 890px) {

    .shelf-menu{
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 5px;
        text-align: center;
        margin: auto;
        padding: 15px;
    }
}

@media only screen and (min-width: 1080px) {

    .shelf-menu{
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 5px;
        text-align: center;
        margin: auto;
        padding: 15px;
    }
}

@media only screen and (min-width: 1250px) {

    .shelf-menu{
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 5px;
        text-align: center;
        margin: auto;
        padding: 15px;
    }
} */