.add-to-shelf{
    position: absolute;
    display: grid;
    grid-template-rows: auto auto auto;
    width: 140px;
    row-gap: 20px;
    text-align: center;
    visibility: hidden;
}

.remove-from-shelf{
    text-align: center;
    visibility: hidden;
}

.remove{
    width: 25px;
}

.add{
    height: 50px;
}

.cover{
    padding-top: 15px;
    display: grid;
    grid-template-rows: 5px auto;
}
  
.book-item:hover .add-to-shelf {
    visibility: visible;
}

.book-item:hover .remove-from-shelf{
    visibility: visible;
}

.text-center{
    text-align: center;
}


.invisible{
    visibility: hidden;
}

.rounded{
    border-radius: 2px;
}

.btn-sm{
    display: flex;
    height: 35px;
    justify-content: center;
    align-items: center;
}

.overflow-title{
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.bg-wine{
    background-color: #722f37;
}

.bg-latte{
    background-color: #ccae88;
}

.bg-dark-blue{
    background-color: #0c7dd9;
}

.bg-white{
    background-color: white;
}

.text-white{
    color: white;
}

img{
    margin: auto;
}

.pointer {
    cursor: pointer;
}

.text-white{
    color: white;
}

.bg-gold-dark{
    background-color: rgb(180, 153, 0);
}
.bg-gold{
    background-color: rgb(255, 217, 0);
}

.bg-green-dark{
    background-color: #1a4f01e5;
}

.bg-green-light{
    background-color: #2f760ee5;
}

.bg-white{
    background-color: white;
}

.text-dark{
    color: #323232e5;
}

.text-green{
    color: #1a4f01e5;
}

.border-latte{
    border-color: white;
}
.border-gold {
    border: solid;
    border-color: rgb(180, 153, 0);
}

.border-white{
    border: solid;
    border-color: white;
}

.text-bold{
    font-weight: bold;
}

.text-xlarge{
    font-size: x-large;
}

.text-xxxlarge{
    font-size: 32pt;
}

.book-container{
    display: grid;
    grid-template-columns: auto 140px auto;
    row-gap: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.book-item{
    grid-column: 2 / 3;
    text-align: center;
}

.padding-10px{
    padding-bottom: 10px;
}

.default-image{
    display: grid;
    margin: auto;
    align-items: center;
    text-align: center;
    height: 209px;
    width: 140px;
}

.shelf{
    display: grid;
    width: 100%;
    height: auto;
    column-gap: 30px;
    margin-top: 50px;
    row-gap: 50px;
}


.menu{
    display: grid;
    grid-template-columns: 400px 200px 200px;
    column-gap: 5px;
    text-align: center;
    padding: 15px;
}

.flex-column{
    justify-content: center;
}

.name{
    display: grid;
    font-size: 32pt;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    padding-left: 15px;
    justify-content: start;
}

.shelf-buttons {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    padding: 15px;
    font-size: x-large;
}

@media only screen and (max-width: 620px) {

    .shelf-buttons {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 15px;
        font-size: large;
    }
    .menu {
        display: grid;
        grid-template-rows: auto 200px 200px;
        row-gap: 10px;
    }

    .shelf{
        display: grid;
        grid-template-columns: auto;
    }
    
    .shelf-menu{
        display: grid;
        margin: 15px;
        grid-template-rows: auto auto auto;
        row-gap: 10px;
    }
    
}

@media only screen and (max-width: 800px){
    .menu {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    .name{
        display: flex;
        padding-left: 0;
        padding: 25px;
        margin: auto;
    }
    .shelf-menu{
        display: grid;
        margin: 15px;
        grid-template-rows: auto auto auto;
        row-gap: 10px;
    }
}

@media only screen and (min-width: 620px) {
    .shelf{
        grid-template-columns: auto auto auto;
    }

    .shelf-menu{
        display: grid;
        margin: 15px;
        grid-template-rows: auto auto auto;
        row-gap: 10px;
    }
}

@media only screen and (min-width: 700px) {
    .shelf{
        grid-template-columns: auto auto auto auto;
    }

    .shelf-menu{
        display: grid;
        grid-template-columns: 200px 200px 200px;
        column-gap: 5px;
        text-align: center;
        margin: auto;
        padding: 15px;
    }
}

@media only screen and (min-width: 890px) {
    .shelf{
        grid-template-columns: auto auto auto auto auto;
    }

    .shelf-menu{
        display: grid;
        grid-template-columns: 200px 200px 200px;
        column-gap: 5px;
        text-align: center;
        margin: auto;
        padding: 15px;
    }
}

@media only screen and (min-width: 1080px) {
    .shelf{
        grid-template-columns: auto auto auto auto auto auto;
    }

    .shelf-menu{
        display: grid;
        grid-template-columns: 200px 200px 200px;
        column-gap: 5px;
        text-align: center;
        margin: auto;
        padding: 15px;
    }
}

@media only screen and (min-width: 1250px) {
    .shelf{
        grid-template-columns: auto auto auto auto auto auto auto;
    }

    .shelf-menu{
        display: grid;
        grid-template-columns: 200px 200px 200px;
        column-gap: 5px;
        text-align: center;
        margin: auto;
        padding: 15px;
    }
}

/* BUTTONS START */

.btn{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.btn-round-1{
    border-radius: 1px;
}

.btn-border-color-1{
    border-color: #1a4f01e5;
}

.btn-gold-dark{
    background-color: rgb(180, 153, 0);
}

.btn-sm:hover{
    background-color: white;
}

.btn:hover{
    background-color: white;
    color: black;
}

.btn-clicked{
    background-color: white;
}

.btn-sm-clicked{
    background-color: #3c831ba1;
    box-shadow: 0px 0px 5px 1px rgba(60,131,27,0.75);
}

/* BUTTONS END */